{% extends 'base.html' %}

{% block title %}
Створити новину
{% endblock %}

{% block content %}
<div class="container mt-5"></div>
<h1> Додати пост </h1>
<form method="post">
    <input type="text" name="title" id="title" class="form-control" placeholder="Введіть назву"><br>
    <textarea name="intro" id="intro" class="form-control" placeholder="Введіть інтро"></textarea><br>
    <textarea name="text" id="text" class="form-control" placeholder="Введіть основний текст"></textarea><br>
    <input type="submit" class="btn-success" value="Надіслати">



</form>
{% endblock %}
